<h1>Search for a Movie</h1>

<!--the name shows in in the http link!-->
<form action="/results" method = 'GET'>
    <input type="text" placeholder="search here.." name="search">
    <input type="submit">
</form>
